*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
}

header{
    height: 30px;
}

main{
    height: calc(100vh - 120px);
    overflow-y: auto;
    margin-top: 20px;
}

footer{
    background-color: #222222;
    height: 70px;
}

.row{
    display: flex;
}

header .row{
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

header .row > :nth-child(2){
    margin-left: 5px;
}

.btn{
    background-color: #4A4A4A;
    border: none;
    border-radius: 8px;
    color: #fff;
    display: flex;
    padding: 7px;
    justify-content: center;
    align-items: center;
}

.btn > :nth-child(2){
    margin-left: 3px;
}

/* #region MAIN */

.gallery{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 100px;
    gap: 10px;
    justify-content: center;
}

.gallery-item{
    width: 220px;
    height: 130px;
    background-image: url(https://fastly.picsum.photos/id/724/300/200.jpg?hmac=noXikCG-jTwpsWI_sfPENFpGvq1UtFKfiy4ARKbcdN0);
    position: relative;
}

.user-name{
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    font-weight: 400;
    font-size: 13px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.698);
}